@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

button.back {
  border: 2px solid #F4F4F4;
  background: none;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  padding: 15px 30px 15px 30px;
  border-radius: 0px;

  position: fixed;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button.mute {
  border: none;
  background: none;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  border-radius: 0px;
}
