@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
  color: #ffffff;
}

body {
  background-color: #000000;
}

button.gen {
  border: 2px solid #F4F4F4;
  background: none;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;

  position: fixed;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
